.verify-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 80vh;
  text-align: center;
  padding: 20px;
  background: #0755c977;
  border-radius: 10px;
  margin: 50px auto;
  max-width: 400px;
  box-shadow: 0 9px 30px rgba(0, 0, 0, 0.947);
}

p {
  margin: 10px 0;
  font-size: 1rem;
  color: #333;
}

.success {
  color: green;
}

.error {
  color: red;
}

.btn {
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  text-decoration: none;
  border-radius: 5px;
}
.btn:hover {
  background-color: #0056b3;
}

.containerg {
  width: 100%;
  height: 100%;
  --color: #E1E1E1;
  background-color: #F3F3F3;
  background-image: linear-gradient(0deg, transparent 24%, var(--color) 25%, var(--color) 26%, transparent 27%,transparent 74%, var(--color) 75%, var(--color) 76%, transparent 77%,transparent),
      linear-gradient(90deg, transparent 24%, var(--color) 25%, var(--color) 26%, transparent 27%,transparent 74%, var(--color) 75%, var(--color) 76%, transparent 77%,transparent);
  background-size: 55px 55px;
  z-index: -1;
}

input{
  width: 80%;
  height: 2rem;
  margin-top: 3rem;
}

input::placeholder{
  text-align: center;
}

.home-btn {
  position: fixed;
  top: 20px;
  left: 20px;
  background-color: #007bff;
  color: rgb(43, 43, 43);
  border: none;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  font-size: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  z-index: 1000; /* para que siempre esté encima */
  box-shadow: 0 4px 6px rgba(0,0,0,0.2);
  transition: background 0.3s;
}

.home-btn:hover {
  background-color: #0056b3;
}

h4{
  margin-top: 3rem;
}
