<div class="container-general">
<div id="hero">
  <canvas id="scene"></canvas>
  <div class="overlay">
    <h1 class="headline tittle">NoteWiz</h1>
    <p class="subtext">Tu espacio para organizar ideas con autenticación segura</p>
    <p class="subtext">By Ancar</p>
  </div>
</div>

<section class="info">
  <h2 class="headline">Características principales</h2>
  <ul>
    <li class="reveal">Registro e inicio de sesión con JWT</li>
    <li class="reveal">Validaciones reactivas en formularios</li>
    <li class="reveal">CRUD de notas: crear, editar, basurero y eliminar</li>
    <li class="reveal">Cierre automático por inactividad o expiración de token</li>
  </ul>

</section>

<section class="stack">
  <h2 class="headline">Tecnologías utilizadas</h2>
  <div class="reveal">Frontend: Angular, Bootstrap, Reactive Forms</div>
  <div class="reveal">Backend: Node.js, Express 5.1, MongoDB</div>
  <div class="reveal">Seguridad: JWT + Bcrypt</div>
</section>

<section class="cta">
<!-- <link rel="stylesheet" href="/src/assets/hazel_pencil_run.glb"> -->
  <h2 class="headline">Comienza ahora</h2>
  <button class="cta-btn" routerLink="/register">Registrarse</button>
  <button class="cta-btn outline" routerLink="/login">Iniciar sesión</button>
</section>
</div>
